# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# MEX files
*.mexw32
*.mexw64
*.mexa32
*.mexa64
*.mexglx

# Matlab back up files
*.m~

# CUDA binaries
*.cubin
